body{
   background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.header > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   list-style-type: none;
}
.header{
    padding: 10px 50px;
    height: 50px;
}
.header > ul >li {
    margin-left: 25px;
}
.header > ul >li>a{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.option-1:hover{
    text-decoration: underline;
}
.main > form{
    display: flex;
    flex-direction: column;
}
.main{
    left: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
}
.main > .img >img {
    width: 272px;
    height: 92px;
    margin-bottom: 15px;
}
.search{

    width: 561px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius:53px ;
    margin-bottom: 25px;
}
.sub-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.lucky-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 140px;
}
.sub-btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
}
.lucky-btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
}
.search:hover{
    box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.6);
}
input {
    padding: 0px 20px;
    font-size: 18px;
}
.advance-img{
    width: 86px;
    height: 24px;
    padding: 0px 0px 0px 12px;
    display: flex;
    align-items: center;
}
.advance-img >img{
    width: 74px;
    height: 24px;
}